*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*-----------------------------NAVBAR-------------------------------*/

.logo img{
  width:90px;
  height:80px;
}
/*-----------------------------HOME-------------------------------*/

.photo-1{
  width:80%;

}
.photo-1 img{
  width:100%;
}

/*-----------------------------ABOUT-------------------------------*/
.starfish img{
  width:100%;
}

/*-------------------------SINGLE PRODUCT--------------------------*/
.outer-div{
  width:227px;
}
.img-div{
  width:100%
}
.img-div img{
  width:60%;
  height:150px;
}
.view{
  background-color:lightpink;
}
/*------------------------------------SIDE CATEGORY---------------------------------*/
input[type="range"]{
  accent-color:orangered;
  cursor:pointer;
}